<div class="root">
    <div class="input">
        <button onclick="document.getElementById('files').click();">{{ locale.uploadUploadPhotos }}</button>
        <input type="file" id="files" ref="files" multiple (change)="handleFilesUpload($event.target.files)" style="display: none;" />
    </div>
    <div class="selected-photos">
        <span>{{ locale.uploadSelectedPhotos }}:</span><span class="files-count">{{ filesCount }}</span>
    </div>
    <div class="send">
        <button (click)="submitFiles()">{{ locale.uploadSend }}</button>
    </div>
</div>
