<div style="width: 400px; height: 250px;">
    <div style="height: 240px;">
        <p>Примечания к фотке</p>
        <textarea style="width: 98%; height: 180px;" [value]="photoDescription" (input)="photoDescription = $event.target.value"></textarea>
    </div>
    <div style="float: right; width: 158px;">
        <div style="float: left; margin-right: 8px;"><button [mat-dialog-close]="true" style="width: 75px;">OK</button></div>
        <div><button mat-dialog-close style="width: 75px;">Отмена</button></div>
    </div>
</div>
