div.user-edit-userinfo {
    float: left;
}

div.user-edit-action>a {
    cursor: pointer;
    color: #4682b4;
    text-decoration: underline;
    text-transform: lowercase;
    font-size: 10pt;
}

div.user-picture>img {
    width: 60px;
    height: 60px;
}
