<div class="root">
    <div class="title">
        <div class="upload-photo">
            <div><app-upload-photo></app-upload-photo></div>
        </div>
        <div class="user-info">
            <div><app-user-edit></app-user-edit></div>
        </div>
    </div>
    <div>
        <div>
            <mat-menu #appMenu="matMenu">
                <button class="album-all" mat-menu-item (click)="selectAlbum(null)">Все</button>
                <ul class="albums">
                    <li *ngFor="let album of albums">
                        <button mat-menu-item (click)="selectAlbum(album.id)">{{ album.name }}</button>
                    </li>
                </ul>
            </mat-menu>
            <button [matMenuTriggerFor]="appMenu">Выбрать альбом</button>
        </div>
        <div>
            <ul class="photos">
                <li *ngFor="let photo of photos" class="photos">
                    <div class="photo-container">
                        <div class="photo-inner">
                            <div class="photo">
                                <img [src]="photo.content" class="photo" />
                            </div>
                            <div class="photo-info-container">
                                <div class="photo-createdate">
                                    <div>
                                        <span class="photo-createdate">{{ photo.createDate | date:'dd.MM.yyyy HH:mm:ss' }}</span>
                                    </div>
                                </div>
                                <div class="photo-actions">
                                    <a (click)="editPhotoAlbums(photo.id)" class="edit-photo-albums">
                                        <img src='/assets/green_cross.png' class="photo-action" />
                                    </a>
                                    <a (click)="editPhotoDescription(photo.id)" class="edit-photo-description">
                                        <img src='/assets/edit.png' class="photo-action" />
                                    </a>
                                    <a (click)="deletePhoto(photo.id)" class="delete-photo">
                                        <img src='/assets/trash.png' class="photo-action" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
