<div class="root">
    <div class="data">
        <div class="name-container">
            <div class="name"><label>Имя</label></div>
            <div><input type="text" [value]="userName" (input)="userName = $event.target.value" /></div>
        </div>
        <div class="email-container">
            <div class="email"><label>Email</label></div>
            <input type="text" [value]="userEmail" (input)="userEmail = $event.target.value" />
        </div>
        <div class="about">
            <textarea [value]="userAbout" (input)="userAbout = $event.target.value"></textarea>
        </div>
        <div class="picture-container">
            <div class="picture"><img [src]="userPicture" /></div>
            <div>
                <p>Изменить картинку</p>
                <input type="file" id="files" ref="files" (change)="handleFilesUpload($event.target.files)" />
            </div>
        </div>
    </div>
    <div class="buttons">
        <div class="button-ok"><button [mat-dialog-close]="true">OK</button></div>
        <div class="button-cancel"><button mat-dialog-close>Отмена</button></div>
    </div>
</div>
