div.root {
    width: 350px;
    height: 450px;
}

div.container {
    height: 420px;
}

div.all-albums {
    height: 380px;
    overflow-y: auto;
}

div.loaded-albums {
    width: 100%;
}

div.separator {
    text-align: center;
}

div.separator-hide {
    display: none;
}

div.separator > span {
    font-size: 10pt;
    font-style: italic;
    color: lightslategray;
}

div.added-albums {
    width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

div.album {
    float: left;
    width: 90%;
}

.deleted {
    text-decoration: line-through;
    color: gray;
}

div.delete-album {
    float: right;
}

a.delete-album {
    cursor: pointer;
}

img.delete-album {
    width: 16px;
    height: 16px;
}

div.added-albums-input {
    margin-top: 8px;
}

div.added-albums-input > input {
    width: 267px;
    box-sizing: border-box;
}

div.added-albums-input > button {
    width: 75px;
    margin-left: 8px;
}

div.added-albums-list {
    margin-top: 8px;
}

div.buttons {
    float: right;
    width: 158px;
}

div.button-ok {
    float: left;
    margin-right: 8px;
}

div.button-ok > button {
    width: 75px;
}

div.button-cancel > button {
    width: 75px;
}
