<div class="root">
    <div class="container">
        <div class="all-albums">
            <div class="loaded-albums">
                <ul>
                    <li *ngFor="let album of loadedAlbums">
                        <div>
                            <div class="album">
                                <input id="album_{{ album.id }}" type="checkbox" [checked]="album.isSelected" (change)="selectAlbum(album)" />
                                <label for="album_{{ album.id }}" [class.deleted]="album.isDeleted == true">{{ album.name }}</label>
                            </div>
                            <div class="delete-album">
                                <a (click)="deleteLoadedAlbum(album)" class="delete-album">
                                    <img src="/assets/red_cross.png" class="delete-album" />
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="separator" [class.separator-hide]="addedAlbums.length == 0">
                <span>добавленные</span>
            </div>
            <div class="added-albums">
                <ul>
                    <li *ngFor="let album of addedAlbums">
                        <div>
                            <div class="album">
                                <input type="checkbox" [checked]="album.isSelected" (change)="selectAlbum(album)" />
                                <label>{{ album.name }}</label>
                            </div>
                            <div class="delete-album">
                                <a (click)="deleteAddedAlbum(album)" class="delete-album">
                                    <img src="/assets/red_cross.png" class="delete-album" />
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="added-albums-input">
            <input type="text" [value]="newAlbumName" (change)="newAlbumName = $event.target.value" />
            <button (click)="addAlbum()">добавить</button>
        </div>
    </div>
    <div class="buttons">
        <div class="button-ok"><button [mat-dialog-close]="true">OK</button></div>
        <div class="button-cancel"><button mat-dialog-close>Отмена</button></div>
    </div>
</div>
