<div class="root">
    <div class="welcome">
        <span>{{ locale.authWelcome }}</span>
    </div>
    <div class="container">
        <div class="login-container">
            <div class="login-label"><label>{{ locale.authLogin }}</label></div>
            <div class="login-input">
                <input type="text" [value]="login" (input)="login = $event.target.value" />
            </div>
        </div>
        <div class="password-container">
            <div class="password-label"><label>{{ locale.authPassword }}</label></div>
            <div class="password-input">
                <input type="password" [value]="password" (input)="password = $event.target.value" />
            </div>
        </div>
        <div class="send"><button (click)="sendAuth()">{{ locale.authSend }}</button></div>
    </div>
    <div class="error" [class.error-hide]="hasError == false"><span>{{ locale.authLoginError }}</span></div>
</div>
